resource "datadog_screenboard" "dd_{{ .Id }}" {
  title = "{{ .Title }}"
  {{- if (NotZero .ReadOnly) }}
  read_only = {{ .ReadOnly }}
  {{- end }}
  {{- if (NotZero .Shared) }}
  shared = {{ .Shared }}
  {{- end }}
  {{- if (NotZero .TemplateVariables) }}
  {{- with .TemplateVariables }}
  {{- range . }}
  template_variable {
    name    = "{{ .Name }}"
    prefix  = "{{ .Prefix }}"
    default = "{{ .Default }}"
  }
  {{- end }}
  {{- end }}
  {{- end }}

  {{- with .Widgets }}
  {{- range . }}
  widget {
    type = "{{ .Type }}"
    x = "{{ .X }}"
    y = "{{ .Y }}"
    {{- if (NotZero .Title) }}
    title = "{{ .TitleText }}"
    {{- end }}
    {{- if (NotZero .TitleAlign) }}
    title_align = "{{ .TitleAlign }}"
    {{- end }}
    {{- if (NotZero .TitleSize) }}
    title_size = "{{ .TitleSize }}"
    {{- end }}
    {{- if (NotZero .Height) }}
    height = "{{ .Height }}"
    {{- end }}
    {{- if (NotZero .Width) }}
    width = "{{ .Width }}"
    {{- end }}
    {{- if (NotZero .Text) }}
    text = "{{ .Text }}"
    {{- end }}
    {{- if (NotZero .Color) }}
    color = "{{ .Color }}"
    {{- end }}
    {{- if (NotZero .Time) }}
    {{- with .Time }}
    time = {
      live_span = "{{ .LiveSpan }}"
    }
    {{- end }}
    {{- end }}
    {{- if (NotZero .TileDef) }}
    {{- with .TileDef }}
    tile_def {
      {{- if (NotZero .Viz) }}
      viz = "{{ .Viz }}"
      {{- end }}
      {{- if (NotZero .CustomUnit) }}
      custom_unit = "{{ .CustomUnit }}"
      {{- end }}
      {{- if (NotZero .Autoscale) }}
      autoscale = {{ .Autoscale }}
      {{- end }}
      {{- if (NotZero .TextAlign) }}
      text_align = "{{ .TextAlign }}"
      {{- end }}
      {{- if (NotZero .Style) }}
      {{- with .Style }}
      style = {
        {{- if (NotZero .Palette) }}
        palette = "{{ .Palette }}"
        {{- end }}
        {{- if (NotZero .PaletteFlip) }}
        palette_flip = {{ .PaletteFlip }}
        {{- end }}
        {{- if (NotZero .FillMin) }}
        fill_min = "{{ .FillMin }}"
        {{- end }}
        {{- if (NotZero .FillMax) }}
        fill_max = "{{ .FillMax }}"
        {{- end }}
      } //style
      {{- end }}
      {{- end }}
      {{- if (NotZero .Requests) }}
      {{- with .Requests }}
      {{- range . }}
      request {
        {{- if (NotZero .Query) }}
        q = "{{ .Query }}"
        {{- end }}
        {{- if (NotZero .Type) }}
        type = "{{ .Type }}"
        {{- end }}
        {{- if (NotZero .QueryType) }}
        query_type = "{{ .QueryType }}"
        {{- end }}
        {{- if (NotZero .Metric) }}
        metric = "{{ .Metric }}"
        {{- end }}
        {{- if (NotZero .TextFilter) }}
        text_filter = "{{ .TextFilter }}"
        {{- end }}
        {{- if (NotZero .Limit) }}
        limit = "{{ .Limit }}"
        {{- end }}
        {{- if (NotZero .Aggregator) }}
        aggregator = "{{ .Aggregator }}"
        {{- end }}
        {{- if (NotZero .CompareTo) }}
        compare_to = "{{ .CompareTo }}"
        {{- end }}
        {{- if (NotZero .ChangeType) }}
        change_type = "{{ .ChangeType }}"
        {{- end }}
        {{- if (NotZero .OrderBy) }}
        order_by = "{{ .OrderBy }}"
        {{- end }}
        {{- if (NotZero .OrderDir) }}
        order_dir = "{{ .OrderDir }}"
        {{- end }}
        {{- if (NotZero .ExtraCol) }}
        extra_col = "{{ .ExtraCol }}"
        {{- end }}
        {{- if (NotZero .IncreaseGood) }}
        increase_good = "{{ .IncreaseGood }}"
        {{- end }}
        {{- if (NotZero .ConditionalFormats) }}
        {{- with .ConditionalFormats -}}
        {{- range . }}
        conditional_format {
          {{- if (NotZero .Color) }}
          color = "{{ .Color }}"
          {{- end }}
          {{- if (NotZero .Palette) }}
          palette = "{{ .Palette }}"
          {{- end }}
          {{- if (NotZero .Comparator) }}
          comparator = "{{ .Comparator }}"
          {{- end }}
          {{- if (NotZero .Invert) }}
          invert = "{{ .Invert }}"
          {{- end }}
          {{- if (NotZero .Value) }}
          value = "{{ .Value }}"
          {{- end }}
          {{- if (NotZero .ImageURL) }}
          image_url = "{{ .ImageURL }}"
          {{- end }}
        }
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if (NotZero .Style) }}
        {{- with .Style }}
        style = {
          {{- if (NotZero .Palette) }}
          palette = "{{ .Palette }}"
          {{- end }}
          {{- if (NotZero .Type) }}
          type = "{{ .Type }}"
          {{- end }}
          {{- if (NotZero .Width) }}
          width = "{{ .Width }}"
          {{- end }}
        } //style
        {{- end }}
        {{- end }}
        {{- if (NotZero .TagFilters) }}
        tag_filters = [{{range .TagFilters}}"{{.}}",{{end}}]
        {{- end }}
      } //request
      {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Events -}}
      {{- with .Events -}}
      {{- range . }}
      event {
        q = "{{ .Query }}"
      } //event
      {{- end -}}
      {{- end -}}
      {{- end -}}

      {{- if (NotZero .Markers) }}
      {{- with .Markers }}
      {{- range . }}
      marker {
        {{- if (NotZero .Type) }}
        type = "{{ .Type }}"
        {{- end }}
        {{- if (NotZero .Label) }}
        label = "{{ .Label }}"
        {{- end }}
        {{- if (NotZero .Value) }}
        value = "{{ .Value }}"
        {{- end }}
      } //event
      {{- end }}
      {{- end }}
      {{- end }}
    } //tile_def
    {{- end }}
    {{- end }}
    {{- if (NotZero .TextSize) }}
    text_size = "{{ .TextSize }}"
    {{- end }}
    {{- if (NotZero .Unit) }}
    unit = "{{ .Unit }}"
    {{- end }}
    {{- if (NotZero .Precision) }}
    precision = {{ .Precision }}
    {{- end }}
    {{- if (NotZero .TextAlign) }}
    text_align = "{{ .TextAlign }}"
    {{- end }}
    {{- if (NotZero .FontSize) }}
    font_size = "{{ .FontSize }}"
    {{- end }}
    {{- if (NotZero .AlertID) }}
    alert_id = "{{ .AlertID }}"
    {{- end }}
    {{- if (NotZero .AutoRefresh) }}
    auto_refresh = "{{ .AutoRefresh }}"
    {{- end }}
    {{- if (NotZero .Legend) }}
    legend = "{{ .Legend }}"
    {{- end }}
    {{- if (NotZero .LegendSize) }}
    legend_size = "{{ .LegendSize }}"
    {{- end }}
    {{- if (NotZero .Query) }}
    query = "{{ .Query }}"
    {{- end }}
    {{- if (NotZero .URL) }}
    url = "{{ .URL }}"
    {{- end }}
    {{- if (NotZero .Check) }}
    check = "{{ .Check }}"
    {{- end }}
    {{- if (NotZero .Grouping) }}
    grouping = "{{ .Grouping }}"
    {{- end }}
    {{- if (NotZero .Group) }}
    group = "{{ .Group }}"
    {{- end }}
    {{- if (NotZero .TickPos) }}
    tick_pos = "{{ .TickPos }}"
    {{- end }}
    {{- if (NotZero .TickEdge) }}
    tick_edge = "{{ .TickEdge }}"
    {{- end }}
    {{- if (NotZero .HTML) }}
    html = "{{ .HTML | escapeNewlines }}"
    {{- end }}
    {{- if (NotZero .Tick) }}
    tick = "{{ .Tick }}"
    {{- end }}
    {{- if (NotZero .Bgcolor) }}
    bgcolor = "{{ .Bgcolor }}"
    {{- end }}
    {{- if (NotZero .EventSize) }}
    event_size = "{{ .EventSize }}"
    {{- end }}
    {{- if (NotZero .Sizing) }}
    sizing = "{{ .Sizing }}"
    {{- end }}
    {{- if (NotZero .Margin) }}
    margin = "{{ .Margin }}"
    {{- end }}
    {{- if (NotZero .Env) }}
    env = "{{ .Env }}"
    {{- end }}
    {{- if (NotZero .ServiceService) }}
    service_service = "{{ .ServiceService }}"
    {{- end }}
    {{- if (NotZero .ServiceName) }}
    service_name = "{{ .ServiceName }}"
    {{- end }}
    {{- if (NotZero .SizeVersion) }}
    size_version = "{{ .SizeVersion }}"
    {{- end }}
    {{- if (NotZero .LayoutVersion) }}
    layout_version = "{{ .LayoutVersion }}"
    {{- end }}
    {{- if (NotZero .MustShowHits) }}
    must_show_hits = "{{ .MustShowHits }}"
    {{- end }}
    {{- if (NotZero .MustShowErrors) }}
    must_show_errors = "{{ .MustShowErrors }}"
    {{- end }}
    {{- if (NotZero .MustShowLatency) }}
    must_show_latency = "{{ .MustShowLatency }}"
    {{- end }}
    {{- if (NotZero .MustShowBreakdown) }}
    must_show_breakdown = "{{ .MustShowBreakdown }}"
    {{- end }}
    {{- if (NotZero .MustShowDistribution) }}
    must_show_distribution = "{{ .MustShowDistribution }}"
    {{- end }}
    {{- if (NotZero .MustShowResourceList) }}
    must_show_resource_list = "{{ .MustShowResourceList }}"
    {{- end }}
    {{- if (NotZero .DisplayFormat) }}
    display_format = "{{ .DisplayFormat }}"
    {{- end }}
    {{- if (NotZero .ColorPreference) }}
    color_preference = "{{ .ColorPreference }}"
    {{- end }}
    {{- if (NotZero .HideZeroCounts) }}
    hide_zero_counts = "{{ .HideZeroCounts }}"
    {{- end }}
    {{- if (NotZero .ManageStatusShowTitle) }}
    manage_status_show_title = "{{ .ManageStatusShowTitle }}"
    {{- end }}
    {{- if (NotZero .ManageStatusTitleText) }}
    manage_status_title_text = "{{ .ManageStatusTitleText }}"
    {{- end }}
    {{- if (NotZero .ManageStatusTitleSize) }}
    manage_status_title_size = "{{ .ManageStatusTitleSize }}"
    {{- end }}
    {{- if (NotZero .ManageStatusTitleAlign) }}
    manage_status_title_align = "{{ .ManageStatusTitleAlign }}"
    {{- end }}
    {{- if (NotZero .Params) }}
    {{- with .Params }}
    params = {
      {{- if (NotZero .Sort) }}
      sort = "{{ .Sort }}"
      {{- end }}
      {{- if (NotZero .Text) }}
      text = "{{ .Text }}"
      {{- end }}
      {{- if (NotZero .Count) }}
      count = "{{ .Count }}"
      {{- end }}
      {{- if (NotZero .Start) }}
      start = "{{ .Start }}"
      {{- end }}
    }
    {{- end }}
    {{- end }}
    {{- if (NotZero .Columns) }}
    columns = {{ .Columns | escapeCharacters }}
    {{- end }}
    {{- if (NotZero .Logset) }}
    logset = "{{ .Logset }}"
    {{- end }}
  } //widget
  {{- end }}
  {{- end }}
}
